body {
    background-color: #ccc;   
}
h1{
    font-size: 16em;
    front-weight: boulder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: ;
}
h1.blue{
    color: #14bef0;
}
thead tr {
    background-color: #eaeaea;
    color: #1b4bef0;
    padding: 0 5px 0 5px;
    margin: 3px;
}
tbody{
    background-color:#fff;
    color: black;

}
h2{
    font-size: 12em;
    front-weight: boulder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: ;
}
h2.blue{
    color: #14bef0;
}
h3{
    font-size: 12em;
    front-weight: boulder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: ;
}
h3.blue{
    color: #14bef0;
}
